

@font-face {
    font-family: 'Rasputin';
    src: url('/fonts/Rasputin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    font-family: 'Rasputin', sans-serif;
}

header{
    border-radius: 10px;
    width: 98%;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    box-shadow: 1px 1px 20px #7D4F50aa;
    background-color: #fff3eb;
    position: fixed;
    top: 10px;
    left: 20px;
    right: 10px;
    bottom: auto;
    z-index: 99;

    & .logotipo{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        gap: 0.5rem;

        & img{
            width: 90px;
            height: auto;
        }
        & .texto{
            padding: 1rem;
            color: #7D4F50;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
    
            & h1{
                font-size: 1.9rem;
            }
    
            & h2{
                font-size: 1.5rem;
            }
        }
    }

    & .menu{
        height: auto;
        & ul{
            list-style: none;
            display: flex;
            gap: 0.5rem;
            
            & li{
                /*gap: 0.5rem;
                */font-size: 1.15rem;
                list-style: none;
                text-transform: uppercase;
                color: #7D4F50;
                border: #7D4F50 solid 1px;
                cursor: pointer;
                //border: 1px solid transparent;
                transition: all 0.3s ease-in-out;
                padding: 0.8rem 0.6rem;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                -webkit-border-radius: 5px;
                &:hover {



                    color: #A67C78;
                    border: 1px solid #A67C78;
                    box-shadow: 1px 1px 15px #7D4F50aa;
                    border-radius: 5px;

                    @at-root .menu ul:hover li:not(:hover) {
                        opacity: 0.5;
                        transform: none;
                        box-shadow: 1px 1px 15px #25252566;
                        transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                    }
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;



                }
                & a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}

main {
    /* * Se 'header' for 'position: fixed', descomente a linha abaixo 
     * e ajuste o valor para a altura exata do seu header.
     * padding-top: 130px; 
     */

    & .line {
        width: 80%;
        height: 2px;
        background-color: #7D4F50;
        filter: blur(2px);
        margin: 2rem auto;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        -webkit-filter: blur(2px);
}


    & #home {
        padding-top: 3rem;
        // padding: 4rem 5rem;
        height: 80vh;
        color: #7D4F50;
        // backdrop-filter: brightness(0.2);
        // background-color: #ffeada;
        background-image: url(../../assets/coluna.webp);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        // background-blend-mode: darken;
        background-attachment: fixed;
        background-clip: border-box;
        display: flex;
        align-items: center;
        text-align: center;
        // filter: blur(0.5rem);
        // -webkit-filter: blur(0.5rem);
        flex-direction: column;

        & .texto {
            background-color: #7d4f509d;
            padding: 2rem;
            align-items: center;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & h2 {
                /* font-family: 'Rasputin', serif; */
                font-size: 2.8rem;
                text-transform: uppercase;
                letter-spacing: 0.06rem;
                margin-bottom: 2rem;
                color: white;
            }
            & p{
                font-size: 1.2rem;
                line-height: 1.6;
                padding: 1rem;
                letter-spacing: 0.08rem;
                font-weight: 600;
                max-width: 600px;
                color: white;
            }
        }


    }

    & #servicos {
        padding: 4rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        background-color: #fff3eb;

        & h2 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 2rem;
            color: #7D4F50;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
        }
        & ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;

            & li{
                background-color: #ffeadacc;
                padding: 2rem;
                border-radius: 10px;
                width: 250px;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-transform: uppercase;
                letter-spacing: 0.06rem;
                color: #7D4F50;
                font-weight: 600;
                font-size: 1.1rem;
                text-align: center;
                justify-content: center;
                box-shadow: 1px 1px 15px #7D4F50aa;

                &:hover{
                    box-shadow: 1px 1px 25px #7D4F50ff;
                    transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                    -moz-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                    -o-transform: scale(1.05);
                    @at-root #servicos ul:hover li:not(:hover) {
                        opacity: 0.5;
                        transform: none;
                        box-shadow: 1px 1px 15px #25252566;
                        transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                    }
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                }
            }
        }
        
    }

    & #quem-sou{
        padding: 4rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #fff3eb;
        justify-content: center;
        align-items: center;

        & h2 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 2rem;
            color: #7D4F50;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
            
        }
        & p{
            max-width: 70vw;
            font-size: 1.1rem;
            line-height: 1.6;
            letter-spacing: 0.06rem;
            text-transform: uppercase;
            font-weight: 600;
            color: #7D4F50;
        }
    }
    & #contato {
        padding: 4rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #fff3eb;
        justify-content: center;
        align-items: center;

        & h2 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 2rem;
            color: #7D4F50;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
        }
        & p{
            font-size: 1.2rem;
            line-height: 1.6;
            padding: 1rem;
            letter-spacing: 0.06rem;
            font-weight: 600;
            max-width: 600px;
            color: #7D4F50;

            & a{
                text-decoration: none;
                color: #A67C78;
                font-weight: 700;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    * {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        & .logotipo {
            flex-direction: row;
            width: 100%;
            & img {
                margin-left: 0.6rem;
                width: 50px;
            }
            & .texto {
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                justify-content: center;
                & h1 {
                    font-size: 1.4rem;
                }
                & h2 {
                    font-size: 1rem;
                }
            }
        }

        & .menu {
            width: 100%;
            margin-top: 1rem;
            display: flex;
            & ul {
                // flex-direction: column;
                width: 100%;
                & li {
                    width: 50%;
                    padding: 0.5rem 0.3rem;
                    font-size: smaller;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;    
                }
            }
        }
    }

    main #home {
        margin-top: 7rem;
        height: auto;
        // padding: 2rem 1rem;
        background-clip: border-box;
        background-position: center;
        background-attachment: fixed;
        background-size: contain;

        & .texto {
            padding: 1rem;
            & h2 {
                font-size: 2rem;
            }
        }
    }

     main {
    
    
        & #servicos{
            width: 100svw;
            padding-inline: 0;
            height: auto;
            
           & ul {
            margin-left: 0.5rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // gap: 1rem;
                padding: 1rem;
                width: 100svw;
                height: 110%;
                // justify-content: center;
                align-items: center;
                
                & li {
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    white-space: normal;
                    font-size: 0.9rem;
                    height: 10rem;
                    width: 10rem;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 1px 1px 5px #252525aa;
                }    
            }
        
    }
        & #quem-sou p {
            max-width: 90vw;
        }
        
    }
}